<html>
<head>
    <title>Welcome to Aha</title>
</head>
<body>
<div>
    <div>
        <a href="/users/signIn">Sign In</a>
    </div>
    <div>
        <a href="/users/signUp">Sign Up</a>
    </div>
</div>
</body>
</html>
