<html>
<head>
    <title>Reset Password</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(() => {
            function validatePassword(originalPassword, password, reenteredPassword) {
                let result = '';
                if (originalPassword.length < 8) {
                    result = 'The originalPassword is too short';
                }
                else if (password.length < 8) {
                    result = 'New password is too short';
                } else if (!password.match(/([a-z])/)) {
                    result = 'contains at least one lower character';
                } else if  (!password.match(/([A-Z])/)) {
                    result = 'contains at least one upper character';
                } else if  (!password.match(/([0-9])/)) {
                    result = 'contains at least one digit character';
                } else if  (!password.match(/(?=.*[!@#$&*])/)) {
                    result = 'contains at least one special character';
                } else if  (password !== reenteredPassword) {
                    result = 'please check the inputted two passwords, should be matched.';
                }
                updateMessageAndSendBtn(result === '', result);
            }

            const updateMessageAndSendBtn = (valid, msg = 'register form is invalid.') => {
                if (valid === true) {
                    $('#messageArea').html('');
                    $('#submit').attr('disabled', false);
                } else {
                    $('#messageArea').html(msg);
                    $('#submit').attr('disabled', true);
                }
            };

            const checkValid = () => {
                validatePassword($('#originalPassword').val(), $('#password').val(), $('#reenteredPassword').val());
            };

            $("#submit").click(() => {
                checkValid();
                if ($('#submit').attr('disabled') === true) {
                    $('#messageArea').html('register form is invalid.');
                    return;
                }

                let originalPassword, password, reenteredPassword;
                originalPassword = $("#originalPassword").val();
                password = $("#password").val();
                reenteredPassword = $("#reenteredPassword").val();
                $.post("/users/updatePassword", {originalPassword: originalPassword, password: password, reenteredPassword: reenteredPassword}, data => {
                    if (data.success === false) {
                        alert(data.msg);
                    }
                    window.location.href = "/";
                });
            });

            $('#originalPassword, #password, #reenteredPassword').keyup(() => {
                $('#messageArea').html(``);
                validatePassword($('#originalPassword').val(), $('#password').val(), $('#reenteredPassword').val());
            });
        });
    </script>
</head>
<body>

    <div><a href="/">home</a> </div>
    <fieldset>
        <legend>the password must be validated by the following conditions.</legend>
        <p>contains at least one lower character</p>
        <p>contains at least one upper character</p>
        <p>contains at least one digit character</p>
        <p>contains at least one special character</p>
        <p>contains at least 8 characters</p>
    </fieldset>
    <br/>
    <div style="width: 800px;">
        <div style="padding-top:4px;">
            <label style="display:inline-block; width: 180px;">Original Password</label>
            <input type="password" name="originalPassword" size="40"  id="originalPassword" placeholder="Enter original password">
        </div>
        <div style="padding-top:4px;">
            <label style="display:inline-block; width: 180px;">New Password</label>
            <input type="password" name="password" size="40"  id="password" placeholder="********">
        </div>
        <div style="padding-top:4px;">
            <label style="display:inline-block; width: 180px;">Confirm New Password</label>
            <input type="password" name="reenteredPassword" size="40"  id="reenteredPassword" placeholder="********">
        </div>
        <br/>
        <div id="messageArea"></div>
        <br/>
        <div style="text-align: right; width: 500px;">
            <input type="button" id="submit" value="Send" />
        </div>
    </div>
</body>
</html>
