<html>
<head>
    <title>Register A New Account</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(() => {
            function validatePassword(password, reenteredPassword) {
                let resultMessage = '';
                if (password.length < 8) {
                    resultMessage = 'password too short';
                }
                // check at least one lower character
                else if (!password.match(/([a-z])/)) {
                    resultMessage = 'contains at least one lower character';
                }
                // check at least one upper character
                else if  (!password.match(/([A-Z])/)) {
                    resultMessage = 'contains at least one upper character';
                }
                // check at least one digit character
                else if  (!password.match(/([0-9])/)) {
                    resultMessage = 'contains at least one digit character';
                }
                // check at least one special character
                else if  (!password.match(/(?=.*[!@#$&*])/)) {
                    resultMessage = 'contains at least one special character';
                }// check at least one special character
                else if  (password !== reenteredPassword) {
                    resultMessage = 'please check the inputted two passwords, should be matched.';
                }
                const checkResult = (resultMessage === '');
                updateMessageAndSendBtn(checkResult, resultMessage);
                return checkResult;
            }

            const validateEmail = (email) => {
                const result = String(email)
                    .toLowerCase()
                    .match(
                        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    );
                const checkResult = result !== null;
                updateMessageAndSendBtn(checkResult, 'email is invalid.');
                return checkResult;
            };

            const validateUserName = (name) => {
                const result = (name !== '');
                updateMessageAndSendBtn(result, 'name is invalid.');
                return result;
            };

            const updateMessageAndSendBtn = (valid, msg = 'register form is invalid.') => {
                const message = (valid === true ? '' : msg);
                $('#messageArea').html(message);
            };

            const checkValid = () => {
                return validateUserName($("#name").val()) && validateEmail($("#email").val()) && validatePassword($('#password').val(), $('#reenteredPassword').val());
            };

            $("#submit").click(() => {
                if(checkValid() !== true){
                    return;
                }
                const email = $("#email").val();
                const name = $("#name").val();
                const pass = $("#password").val();
                const reenteredPassword = $("#reenteredPassword").val();
                $.post("/users/reg", {email: email, password: pass, name: name, reenteredPassword: reenteredPassword}, data => {
                    alert(data.msg);
                    if (data.success !== false) {
                        window.location.href = "/";
                    }
                });
            });

            // $('#password, #reenteredPassword').keyup(() => {
            //     $('#messageArea').html(``);
            //     const checkResult = validatePassword($('#password').val(), $('#reenteredPassword').val());
            //     $('#submit').attr('disabled', checkResult !== true);
            //     $('#messageArea').html(checkResult === true ? '' : checkResult);
            // });
            //
            // $('#email').keyup(() => {
            //     const email = $("#email").val();
            //     if(validateEmail(email) !== null){
            //         $('#messageArea').html(``);
            //     }else {
            //         $('#messageArea').html(`invalid email.`);
            //     }
            // });

        });
    </script>
</head>
<body>

<div><a href="/">home</a></div>
<br/>
    <fieldset>
        <legend>the password must be validated by the following conditions.</legend>
        <p>contains at least one lower character</p>
        <p>contains at least one upper character</p>
        <p>contains at least one digit character</p>
        <p>contains at least one special character</p>
        <p>contains at least 8 characters</p>
    </fieldset>
    <br/>
    <div style="width: 500px;">
        <div style="padding-top:4px;">
            <label style="display:inline-block; width: 90px;">Name</label>
            <input type="name" name="name" size="40"  id="name" placeholder="Enter name">
        </div>
        <div style="padding-top:4px;">
            <label style="display:inline-block; width: 90px;">Email</label>
            <input type="email" name="email" size="40"  id="email" placeholder="Enter email">
        </div>
        <div style="padding-top:4px;">
            <label style="display:inline-block; width: 90px;">Password</label>
            <input type="password" name="password" size="40"  id="password" placeholder="********">
        </div>
        <div style="padding-top:4px;">
            <label style="display:inline-block; width: 90px;">reenter</label>
            <input type="password" name="password" size="40"  id="reenteredPassword" placeholder="********">
        </div>
        <br/>
        <div id="messageArea"></div>
        <br/>
        <div style="text-align: right; width: 405px;">
            <input type="button" id="submit" value="Send" />
        </div>
    </div>

    <div>
        <a href="/auth/google">SignUp by Google Account</a>
    </div>
    <div>
        <a href="/auth/facebook">SignUp by by Facebook Account</a>
    </div>
</body>
</html>
